<%- layout("/layouts/boilerpalte.ejs") %>
    <div class="row">
        <div class="col-8 offset-2">
            <h4 class="mt-4 mb-4">Edit your listing</h4>
            <form action="/listings/<%- listing._id %>?_method=PUT" method="post">
                <div class="mb-4">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%- listing.title %>" class="form-control">
                </div>
                <div class="mb-4">
                    <label for="description" class="form-label">Enter description</label>
                    <textarea rows="5" name="listing[description]"
                        class="form-control"><%- listing.description%></textarea>
                </div>
                <div class="mb-4">
                    <label for="image" class="form-label">Enter Link</label>
                    <input type="text" name="listing[image]" value="<%- listing.image %>" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-4 col-md-4">
                        <label for="price" class="form-label">Enter Price</label>
                        <input type="text" name="listing[price]" value="<%- listing.price %>" class="form-control">
                    </div>
                    <div class="mb-4 col-md-8">
                        <label for="country" class="form-label">Enter Country</label>
                        <input type="text" name="listing[location]" value="<%- listing.location %>"
                            class="form-control">
                    </div>
                </div>
                <div class="mb-4">
                    <label for="location" class="form-label">Enter location</label>
                    <input type="text" name="listing[country]" value="<%- listing.country %>" class="form-control">
                </div>
                <button type="submit" class="btn btn-dark add-btn">Submit</button>
            </form>
        </div>
    </div>